<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thecms.mapper.manage.ArticleMapper">

    <select id="getArticleList" resultType="com.thecms.entity.manage.ManageArticle">
        SELECT id,article_name,cover_img,status,sort_rank,parent_id,content FROM the_article LIMIT #{start},#{size}
    </select>

    <select id="getArticleNameList" resultType="com.thecms.entity.manage.ManageArticle">
        SELECT id,article_name,cover_img,status,sort_rank,parent_id FROM the_article LIMIT #{start},#{size}
    </select>

    <select id="getArticleContentById" resultType="com.thecms.entity.manage.ManageArticle">
        SELECT content FROM the_article LIMIT #{start},#{size}
    </select>

    <insert id="addArticle">
        INSERT into
            the_article(article_name,cover_img,status,sort_rank,parent_id,content)
        VALUES
            (#{article_name},#{cover_img},#{status},#{sort_rank},#{parent_id},#{content})
    </insert>

    <delete id="deleteArticleById">
        DELETE FROM
            the_article
        WHERE
            id=#{id}
    </delete>

    <update id="updateArticle">
        UPDATE
            the_article
        SET
            <if test="article_name!=null">article_name=#{article_name},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="sort_rank!=null">sort_rank=#{sort_rank},</if>
            <if test="cover_img!=null">cover_img=#{cover_img},</if>
            <if test="parent_id!=null">parent_id=#{parent_id},</if>
            <if test="content!=null">content=#{content}</if>
        WHERE
            id=#{article_id}
    </update>
</mapper>
